@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-content-width: 90rem;
  --content-margin: max(0px, calc((100vw - var(--max-content-width)) / 2));
  --content-padding: 6rem;
}

@media screen and (max-width: 1024px) {
  :root {
    --content-padding: 3rem;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --content-padding: 0rem;
    --content-padding: 0rem;
  }
}

@layer components {
  .max-w-content {
    max-width: var(--max-content-width);
  }
  .ml-viewport-offset {
    margin-left: var(--content-margin);
    padding-left: calc(var(--content-padding) / 2);
  }
  .mr-viewport-offset {
    margin-right: var(--content-margin);
    padding-right: calc(var(--content-padding) / 2);
  }
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes loading {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(0.7);
  }
  100% {
    transform: scaleX(0.9);
  }
}
