@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-content-width: 90rem;
  --max-page-width: 100rem;
  --max-page-width-wider: 120rem;
  --max-page-height: 900px;
  --content-margin: max(
    0px,
    calc((var(--max-page-width) - var(--max-content-width)) / 2)
  );
  --content-padding: 6rem;
}

@media screen and (max-width: 1024px) {
  :root {
    --content-padding: 3rem;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --content-padding: 0rem;
    --content-padding: 0rem;
  }
}

@layer components {
  .max-h-page {
    max-height: var(--max-page-height);
  }
  .max-w-page {
    max-width: var(--max-page-width);
    width: 100%;
  }
  .max-w-page-wider {
    max-width: var(--max-page-width-wider);
    width: 100%;
  }
  .max-w-content {
    max-width: var(--max-content-width);
  }
  .ml-viewport-offset {
    margin-left: var(--content-margin);
  }
  .mr-viewport-offset {
    margin-right: var(--content-margin);
  }
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes loading {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(0.7);
  }
  100% {
    transform: scaleX(0.9);
  }
}
